* {
    font-family: fonte;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    color: #d38726;
}

form {
    width: 50%;
    height: 600px;
    border: #d38726 solid 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

/*
.form-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
*/

.form-item input,
.form-item select,
.form-item textarea {
    border-radius: 5px;
}

.form-item-button input[type=reset],
.form-item-button input[type=submit] {
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: calc(1);*/
    border: none;
    border-radius: 10px;
    background-color: rgb(76, 115, 70);
    height: 30px;
    width: 120px;
}

label,
span,
option {
    font-size: 1.1rem;
}

.erro {
    background-color: red;
}