* {
    font-family: fonte;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

/*Cores dark mode
Header/Button 11, 49, 49
Background 1, 10, 10
Footer 8, 8, 8
Slider #d38726
Logo 76, 115, 70
*/

.body-dark {
    background-color: rgb(7, 31, 31);
    color: white;
}

.header-dark {
    background-color: rgb(11, 49, 49);
}

.nav-link-dark:hover {
    color: #d38726;
}

.nav-link-dark.active {
    color: #d38726 !important;
}

/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #d38726;
}

input:focus+.slider {
    box-shadow: 0 0 1px #d38726;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Cards */
.card-dark {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(1, 10, 10);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    width: 30%;
    height: 500px;
    padding: 0.8rem;
}

.card-dark-descricao {
    text-align: justify;
    font-size: 0.8rem;
    flex-grow: 1;
    color: white;
}

.card-dark-botao {
    width: 180px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(11, 49, 49);
    color: white;
    text-decoration: none;
}

/* Form elements */

.form-dark {
    border-color: cadetblue;
    background-color: rgb(1, 10, 10);
}

.form-item input[type=reset],
.form-item input[type=submit] {
    background-color: rgb(76, 115, 70);
}

/* Media Querries */

@media (max-width: 600px) {

    * {
        font-size: 22px;
    }

    .card {
        width: 80%;
    }

    footer {
        padding: 0px 0px 0px 0px;
        background-image: url("../img/rodape/background.jpeg");
        background-position: initial;
        height: 1300px;
        width: 598px;
    }

    .footer-redes {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 601px) and (max-width: 801px) {

    * {
        font-size: 20px;
    }

    .card {
        width: 40%;
    }

    .card-descricao {
        text-align: center;
        line-height: 1;
    }

    .footer-redes {
        position: relative;
        bottom: 50px;
    }
}