* {
    font-family: fonte;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.body-dark {
    background-color: rgb(1, 10, 10);
    color: white;
}

header {
    background-color: rgb(19, 68, 68);
}

.sol {
    background-image: url("../img/sol.png");
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #031d33;
}

input:focus+.slider {
    box-shadow: 0 0 1px #031d33;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.card {
    border: 1px solid cadetblue;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(1, 10, 10);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    width: 30%;
    height: 500px;
    padding: 0.8rem;

    box-shadow: -1px 5px 13px 0px rgba(0, 0, 0, 0.75);
}

.card-img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.card-titulo {
    text-align: center;
    color: #d38726;
}

.card-descricao {
    text-align: justify;
    font-size: 0.8rem;
    flex-grow: 1;
    color: white;
}

.card-botao {
    width: 180px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: cadetblue;
}

.card-botao a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: rgb(8, 8, 8);
}

@media (max-width: 600px) {

    * {
        font-size: 22px;
    }

    .card {
        width: 80%;
    }

    footer {
        padding: 0px 0px 0px 0px;
        background-image: url("../img/rodape/background.jpeg");
        background-position: initial;
        height: 1300px;
        width: 598px;
    }

    .footer-redes {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 601px) and (max-width: 801px) {

    * {
        font-size: 20px;
    }

    .card {
        width: 40%;
    }
}